# Defaults from 'swift package init'
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/

# To avoid accidental exposure of sensitive data
*.pem
*.key
*.sqlite3

# Avoids sync of user package versions
Package.resolved

# Avoids debris from Xcode
/.swiftpm